.toolbar-item, .toolbar-btn, .iconfont-tool, .toolbar-text {
  width: 40px;
  height: 40px; }

.iconfont-tool, .toolbar-text {
  position: absolute;
  left: 0;
  color: #fff;
  text-align: center;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s; }

.toolbar {
  position: fixed;
  right:0;
  bottom: 30px;
box-shadow:0 0 10px #eaeaea;}

.toolbar-item {
  position: relative;
  display: block;}
  .toolbar-item:hover .iconfont {
    color: #f1394c;}
  .toolbar-item:hover .toolbar-layer {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.toolbar-btn {
  position: absolute;
  left: 0;
  left: 0;
  overflow: hidden; }

.iconfont-tool {
  top: 0;
  background-color: #fff;
  color:#ccc;
  font-size: 20px;
  line-height: 40px; }

.toolbar-text {
  top: 40px;
  background-color: #98a1a6;
  padding-top: 12px;
  font-size: 12px;
  line-height: 1.2; }

.toolbar-layer {
  position: absolute;
  right: 46px;
  bottom: -10px;
  width: 150px;
  height:150px;
  background-image: url(../img/qr-code.png);
  background-repeat: no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  transform-origin: 95% 95%;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.toolbar-layer-server {
  background-position: 0 0; }

.toolbar-layer-android {
  background-position: 0 -160px; }
.toolbar-layer-ios {
  background-position: 0 -320px;
}
.toolbar-layer-wechat {
  background-position: 0 -480px;
}
